{% extends "master.html" %}
{% block title %}About My Work{% endblock %}
  {% block content %}
  <div class="container">
    <div class="row">
      <h3>Ed Leafe – Photography</h3>
      <p>
        Photography is my creative outlet. I don't do studio work, weddings, portraits, or photojournalism (although I do take a lot of selfies with family!)
      </p>
      <p>
        I subscribe to the philosophy that the best camera is the one you have with you. I prefer to travel light, so my primary camera is an Olympus Micro Four-Thirds, and my secondary camera is my iPhone. I don't believe that an expensive camera takes better photographs except in a few extreme use cases. So I encourage everyone to use what they have instead of lusting over the newest shiniest device.
      </p>
      <p>
        My preferred medium for display is a digital display – I feel that it affords a range of luminosity that a print simply cannot match. To that end, I have created digital display software with the ability to control the displayed image as well as change it on a determined schedule. Ask me about it if you're interested.
      </p>
      <h3>Abstract Realism</h3>
      <p>
        I struggled for years trying to describe my art to others, and eventually chose the term <b>Abstract Realism</b> to describe it, as it captures the two most significant but seemingly contradictory aspects of it.
      </p>
      <p>
        <b><i>Abstract</i></b> in the sense that it is the image itself that is important, and not the particular thing that the camera happened to be pointed at. There are beautiful images all around us, but most only notice the obvious ones: sunsets, flowers, faces, bodies, and other common subjects that have been the mainstay subjects of photography throughout its existence. While I enjoy such images, I have yet to see one that gives me more joy than the actual subject of the photograph would have. I believe that if you look for it, there is visual beauty all around you, and sometimes in subjects that are typically thought of as either ugly or uninteresting.
      </p>
      <p>
        <b><i>Realism</i></b> in the sense that the photograph is not manipulated or otherwise changed from what I saw at that moment. Sure, I use exposure/contrast/color correction, but only to create a photograph that matches what I saw. I do not use multiple exposure, Photoshop distortions, or anything that would fundamentally alter the image. This is not because I think that those techniques are bad; rather, they are fine if that is what you are setting out to use in your creative process. My process for creating the image ends when I press the shutter button.
      </p>
      <p>
        The term "Abstract Realism" has been used by several other artists, who had their own interpretations. Some were along the same lines as how I see it, while most were nothing like it. Obviously I don't agree with those interpretations, or I would have come up with a different term. But that's what makes speaking about art so difficult: we all see things with our own vision, and apply our own language. When I look at abstract art, it seems as if the artist saw something in a "normal" scene and used that as the basis for their creation. I am just removing that final step, and capturing that scene in a way that shows that, while "normal", it is anything but.
      </p>
    </div>
  </div>
  {% endblock %}
