{% extends "main.html" %}
{% block extra_JS %}
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems, options);
  });
{% endblock %}
{% block title %}About My Work{% endblock %}
  {% block content %}
    <div class="row">
      <h4>Ed Leafe – Photography</h4>
    </div>
    <div class="row">
        Photography is my creative outlet. I don't do studio work, weddings, portraits, or photojournalism (although I do take a lot of selfies with family!)
    </div>
    <div class="row">
        I subscribe to the philosophy that <b>the best camera is the one you have with you</b>. I prefer to travel light, so my primary camera is an <a href="https://www.getolympus.com/us/en/digitalcameras/omd/e-m5-mark-ii.html" target="_new">Olympus Micro Four-Thirds</a>, and my secondary camera is my iPhone. I don't believe that an expensive camera takes better photographs except in a few extreme use cases. So I encourage everyone to use what they have instead of lusting over the newest shiniest device.
    </div>
    <div class="row center-align">
      <img src="/static/images/nice_camera.jpg" />
    </div>
    <div class="row">
        My preferred medium for display is a digital display – I feel that it affords a range of luminosity that a print simply cannot match. To that end, I have created digital display software with the ability to control the displayed image as well as change it on a determined schedule. Ask me about it if you're interested.
    </div>
    <div class="row">
      <h5>Exhibitions</h5>
    </div>
    <div class="row">
       <span style="font-weight: bold; font-style: italic;">Update:</span> After playing the online exhibition game for
       a few years, I've concluded that it doesn't make me a better photographer, nor does it add to my enjoyment of
       photography. So I've stopped submitting to these events.
    </div>
    <div class="row">
       One of the main reasons I grew dissatisfied is the whole juror process. Most entries have a theme, with a few
       being "open". But it all comes down to what the juror is looking for, as opposed to some image being "better".
       One of the things about my approach to photography is that it isn't similar to most photographers, and is
       unlikely to fit in. And in the cases where one of my images was selected, the rest of the show wasn't to my
       liking. So while I was glad to have gone through this process, I now know that it isn't for me.
    </div>
    <div class="row" style="text-decoration: line-through;">
      Up until recently I haven't pursued showing my work in public, as it was more for my
      enjoyment than anything. But with the encouragement of my wife and friends, I've begun
      submitting my photography to various Calls for Entry for exhibitions.
    </div>
    <div class="row">
      <ul class="collapsible">
		<li>
		  <div class="collapsible-header"><i class="material-icons">camera_alt</i>2022</div>
          <div class="collapsible-body">
            <ul>
              <li><a href="https://www.nyc4pa.com" target="_new">New York Center for Photographic Art</a>: <a href="https://www.nyc4pa.com/decay-rust-corrosion?pgid=k7zgwjdw-18af34f3-4de9-4a72-9408-62171ef548a4" target="_new"><b>DECAY, CORROSION, RUST</b></a></li>
            </ul>
          </div>
		</li>
		<li>
		  <div class="collapsible-header"><i class="material-icons">camera_alt</i>2021</div>
          <div class="collapsible-body">
            <ul>
              <li><a href="https://www.flaglercountyartleague.org/" target="_new">Flagler County Art League</a>: <a href="https://www.flaglercountyartleague.org/picture-this-1" target="_new"><b>Picture This!</b></a></li>
              <li><a href="http://www.mwcponline.com/" target="_new">Midwest Center for Photography</a>: <a href="http://www.mwcponline.com/abstract.html" target="_new"><b>Abstract</b></a></li>
            </ul>
          </div>
		</li>
		<li>
		  <div class="collapsible-header"><i class="material-icons">camera_alt</i>2020</div>
          <div class="collapsible-body">
            <ul>
                <li><a href="https://www.praxisphotocenter.org/" target="_new">Praxis Gallery</a>: <a href="https://www.blurb.com/b/10541307-empty-places-abandoned-spaces" target="_new"><b>Abandoned Spaces</b></a></li>
                <li><a href="http://www.mwcponline.com/" target="_new">Midwest Center for Photography</a>: <a href="http://www.mwcponline.com/suburban-architecture.html" target="_new"><b>Suburban Architecture</b></a></li>
              <li><a href="https://www.praxisphotocenter.org/" target="_new">Praxis Gallery</a>: <a href="https://www.blurb.com/books/10220573-liquid-sky" target="_new"><b>Liquid Sky</b></a></li>
              <li><a href="https://lacphoto.org/lacp/" target="_new">Los Angeles Center for Photography</a>: <b>Member Fundraising Exhibition</b></li>
              <li><a href="http://www.mwcponline.com/" target="_new">Midwest Center for Photography</a>: <a href="http://www.mwcponline.com/homegrown.html"><b>Homegrown</b></a></li>
              <li><a href="https://jonesgallerykc.com/" target="_new">Jones Gallery</a>: <b>May Group Art Show</b></li>
              <li><a href="http://www.mwcponline.com/" target="_new">Midwest Center for Photography</a>: <a href="http://www.mwcponline.com/walkabout.html" target="_new"><b>Walkabout</b></a></li>
            </ul>
          </div>
		</li>
		<li>
		  <div class="collapsible-header"><i class="material-icons">camera_alt</i>2019</div>
          <div class="collapsible-body">
            <ul>
                <li><a href="https://asmithgallery.com/" target="_new">A Smith Gallery</a>: <a href="https://asmithgallery.com/exhibitions/red-2/" target="_new"><b>Red</b></a></li>
            </ul>
          </div>
		</li>
      </ul>
    </div>
  {% endblock %}
