{% extends "main.html" %}
{% block title %}Photographic Approach{% endblock %}
  {% block content %}
    <div class="row">
      <h3>My Approach to Photography</h3>
      <p>
      Photography offers a rich diversity of techniques that determine what your final image will look like. Back when I began my career in the days of film, the options were much fewer, but there was still many possibilities, such as running film through the camera twice to create multiple exposures, or using non-silver print media. Combining images was a bit trickier, and involved techniques such as cutting <a href="https://en.wikipedia.org/wiki/Rubylith" target="_new">Rubylith</a> to mask areas from exposure. I actually made a living for a while doing custom photocomps for New York advertising agencies by carefully cutting Rubylith and pin-registering the negatives and paper.
      </p>
      <p>
      </p>
      <p>
      </p>
      <p>
      </p>
      <p>
      </p>
      <p>
      </p>
    </div>
  {% endblock %}
