{% extends "main.html" %}
{% block title %}About My Work{% endblock %}
  {% block content %}
    <div class="row">
      <h3>Abstract Realism</h3>
      <p>
        I struggled for years trying to describe my art to others, and eventually chose the term <b>Abstract Realism</b> to describe it, as it captures the two most significant but seemingly contradictory aspects of it.
      </p>
      <p>
        <b><i>Abstract</i></b> in the sense that it is the image itself that is important, and not the particular thing that the camera happened to be pointed at. There are beautiful images all around us, but most of us only notice the obvious ones: sunsets, flowers, faces, bodies, and other common subjects that have been the mainstay subjects of photography throughout its existence. While I enjoy such images, I have yet to see one that gives me more joy than the actual subject of the photograph would have. I believe that if you look for it, there is visual beauty all around you, and sometimes in subjects that are typically thought of as either ugly, base, or uninteresting.
      </p>
      <p>
        <b><i>Realism</i></b> in the sense that the photograph is not manipulated or otherwise changed from what I saw at that moment. Sure, I use exposure/contrast/color correction, but only to create a photograph that matches what I saw. I do not use multiple exposure, Photoshop distortions, or anything that would fundamentally alter the image from the actual subject of the lens. This is not because I think that those techniques are bad; rather, they are fine if that is what you are setting out to use in your creative process. My process for <i>creating</i> the image ends when I press the shutter button.
      </p>
      <p>
        The term "Abstract Realism" has been used by several other artists, who had their own interpretations. Some were somewhat along the same lines as how I see it, while most were <i>nothing</i> like it. Obviously I don't agree with those interpretations, or I would have come up with a different term. But that's what makes speaking about art so difficult: we all see things with our own vision, and apply our own language. When I look at abstract art, it seems as if the artist saw something in a "normal" scene and used that as the basis for their creation. I am just removing that final step, and capturing that scene in a way that shows that, while "normal", it is anything but.
      </p>
      <p>
      A more practical way of understanding this idea is to realize that what is most important is the final image. What the camera was pointed at when the image was recorded is, essentially, irrelevant. The only thing that matters is that the image is interesting. I've found that the most rewarding images are those where the subject that the camera was pointed at would not normally be considered "beautiful". It is the recognition, the discovery, of beauty in the inherently non-beautiful that is what I love. Beauty is all around us; we just miss so much of it because we aren't able to see it clearly.
      </p>
    </div>
  {% endblock %}
