{% extends "main.html" %}

{% block title %}Downloads{% endblock %}

{% block extra_JS %}
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems, options={});
  });
{% endblock %}

{% block extra_CSS %}
<style>
.fileinfo {
    color: red;
}
.title_cell {
    width: 25%;
    text-align: right;
}
.filesize {
    background-color: LemonChiffon;
}
.searchmatch {
    background-color: yellow;
}
</style>
{% endblock %}

    {% block content %}

    {% if not any((g.vfp, g.dabo, g.python, g.osx, g.cb, g.fox2x, g.other)) %}
      <div>
        <h3>No results were found. Please <a href="/downloads">try again</a>.</h3>
      </div>

    {% else %}
     <div class="row">
 	   <ul class="collapsible">
 		<li>
          {% if g.vfp %}
 		  <div class="collapsible-header"><i class="material-icons">filter_1</i>Visual FoxPro</div>
 		  <div class="collapsible-body">
             <span>
               <table class="striped">
               {% for rec in g.vfp %}
                 <tr>
                   <td class="title_cell"><a href="{{ update_link(rec['cfile']) }}">{{ hilite(rec["ctitle"]) | safe }}</a></td>
                   <td>{{ hilite(rec["mdesc"]) | safe }}&nbsp;&nbsp;<b>Author: {{ hilite(rec["cauthor"]) | safe }}</b>&nbsp;
                     <span class="fileinfo">{{ cost_calc(rec["ccosttype"], rec["ncost"]) }}</span>
                     &nbsp;<span class="filesize">{{ rec["csize"].upper() }}</span>&nbsp; Last updated: <b>{{ rec["dlastupd"] }}</b>
                   </td>
                 </tr>
               {% endfor %}
               </table>
             </span>
           </div>
          {% endif %}
 		</li>
 		<li>
          {% if g.dabo %}
 		  <div class="collapsible-header"><i class="material-icons">filter_2</i>Dabo Framework</div>
 		  <div class="collapsible-body">
             <span>
               <table class="striped">
               {% for rec in g.dabo %}
                 <tr>
                   <td class="title_cell"><a href="{{ update_link(rec['cfile'][16:]) }}">{{ rec["ctitle"] }}</a></td>
                   <td>{{ rec["mdesc"] | safe }}&nbsp;&nbsp;<b>Author: {{ rec["cauthor"] }}</b>&nbsp;
                     <span class="fileinfo">{{ cost_calc(rec["ccosttype"], rec["ncost"]) }}</span>
                     &nbsp;<span class="filesize">{{ rec["csize"].upper() }}</span>&nbsp; Last updated: <b>{{ rec["dlastupd"] }}</b>
                   </td>
                 </tr>
               {% endfor %}
               </table>
             </span>
           </div>
          {% endif %}
 		</li>
 		<li>
          {% if g.python %}
 		  <div class="collapsible-header"><i class="material-icons">filter_3</i>Python</div>
 		  <div class="collapsible-body">
             <span>
               <table class="striped">
               {% for rec in g.python %}
                 <tr>
                   <td class="title_cell"><a href="{{ update_link(rec['cfile'][16:]) }}">{{ rec["ctitle"] }}</a></td>
                   <td>{{ rec["mdesc"] | safe }}&nbsp;&nbsp;<b>Author: {{ rec["cauthor"] }}</b>&nbsp;
                     <span class="fileinfo">{{ cost_calc(rec["ccosttype"], rec["ncost"]) }}</span>
                     &nbsp;<span class="filesize">{{ rec["csize"].upper() }}</span>&nbsp; Last updated: <b>{{ rec["dlastupd"] }}</b>
                   </td>
                 </tr>
               {% endfor %}
               </table>
             </span>
           </div>
          {% endif %}
 		</li>
 
 		<li>
          {% if g.osx %}
 		  <div class="collapsible-header"><i class="material-icons">filter_4</i>Mac OS X</div>
 		  <div class="collapsible-body">
             <span>
               <table class="striped">
               {% for rec in g.osx %}
                 <tr>
                   <td class="title_cell"><a href="{{ update_link(rec['cfile'][16:]) }}">{{ rec["ctitle"] }}</a></td>
                   <td>{{ rec["mdesc"] | safe }}&nbsp;&nbsp;<b>Author: {{ rec["cauthor"] }}</b>&nbsp;
                     <span class="fileinfo">{{ cost_calc(rec["ccosttype"], rec["ncost"]) }}</span>
                     &nbsp;<span class="filesize">{{ rec["csize"].upper() }}</span>&nbsp; Last updated: <b>{{ rec["dlastupd"] }}</b>
                   </td>
                 </tr>
               {% endfor %}
               </table>
             </span>
           </div>
          {% endif %}
 		</li>
 		<li>
          {% if g.cb %}
 		  <div class="collapsible-header"><i class="material-icons">filter_5</i>VFP Codebook</div>
 		  <div class="collapsible-body">
             <span>
               <table class="striped">
               {% for rec in g.cb %}
                 <tr>
                   <td class="title_cell"><a href="{{ update_link(rec['cfile'][16:]) }}">{{ rec["ctitle"] }}</a></td>
                   <td>{{ rec["mdesc"] | safe }}&nbsp;&nbsp;<b>Author: {{ rec["cauthor"] }}</b>&nbsp;
                     <span class="fileinfo">{{ cost_calc(rec["ccosttype"], rec["ncost"]) }}</span>
                     &nbsp;<span class="filesize">{{ rec["csize"].upper() }}</span>&nbsp; Last updated: <b>{{ rec["dlastupd"] }}</b>
                   </td>
                 </tr>
               {% endfor %}
               </table>
             </span>
           </div>
          {% endif %}
 		</li>
 		<li>
          {% if g.fox2x %}
 		  <div class="collapsible-header"><i class="material-icons">filter_6</i>FoxPro 2.x</div>
 		  <div class="collapsible-body">
             <span>
               <table class="striped">
               {% for rec in g.fox2x %}
                 <tr>
                   <td class="title_cell"><a href="{{ update_link(rec['cfile'][16:]) }}">{{ rec["ctitle"] }}</a></td>
                   <td>{{ rec["mdesc"] | safe }}&nbsp;&nbsp;<b>Author: {{ rec["cauthor"] }}</b>&nbsp;
                     <span class="fileinfo">{{ cost_calc(rec["ccosttype"], rec["ncost"]) }}</span>
                     &nbsp;<span class="filesize">{{ rec["csize"].upper() }}</span>&nbsp; Last updated: <b>{{ rec["dlastupd"] }}</b>
                   </td>
                 </tr>
               {% endfor %}
               </table>
             </span>
           </div>
          {% endif %}
 		</li>
 		<li>
          {% if g.other %}
 		  <div class="collapsible-header"><i class="material-icons">filter_7</i>Other</div>
 		  <div class="collapsible-body">
             <span>
               <table class="striped">
               {% for rec in g.other %}
                 <tr>
                   <td class="title_cell"><a href="{{ update_link(rec['cfile'][16:]) }}">{{ rec["ctitle"] }}</a></td>
                   <td>{{ rec["mdesc"] | safe }}&nbsp;&nbsp;<b>Author: {{ rec["cauthor"] }}</b>&nbsp;
                     <span class="fileinfo">{{ cost_calc(rec["ccosttype"], rec["ncost"]) }}</span>
                     &nbsp;<span class="filesize">{{ rec["csize"].upper() }}</span>&nbsp; Last updated: <b>{{ rec["dlastupd"] }}</b>
                   </td>
                 </tr>
               {% endfor %}
               </table>
             </span>
           </div>
          {% endif %}
 		</li>
 	  </ul>
     </div>

     {% endif %}
 
     <div class="row">
       <div class="col s9 offset-s1">
         <div class="card blue lighten-5">
           <div class="card-content">
             <span class="card-title"><a href="/uploads">Upload Files</a></span>
              <div>If you have files you wish to share with others, you can do so by visiting the <a href="/uploads">Upload Page</a>.</div>
              <div class="divider grey" style="margin-top: 20px; margin-bottom:20px;"></div>
              <div>All submitted files will be reviewed by the site administrator before being made available. Please do not submit any file <i>containing anyone's copyrighted material except your own</i>.</div>
           </div>
         </div>
       </div>
      </div>

    {% endblock %}
