{% extends "master.html" %}

{% block title %}{{ g.subject }}{% endblock %}

    {% block content %}

    <a name="top"> </a>
    <div class="card blue lighten-5">
      <div class="card-content black-text">
        <span class="card-title">Index</span>
        {% for msg in g.messages %}
        <div class="row">
          <div class="col s8">
            <a href="#msg_{{ msg.msg_num }}">{{ fmt_short_date(msg.posted) }}</a> – <b>{{ fmt_author(msg.from) }}</b>: {{ msg.subject }}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    {% for msg in g.messages %}
      <div class="z-depth-3">
        <div class="row" style="padding-top: 40px;">
          <div class="col s5 offset-s2">
          <a name="msg_{{ msg.msg_num }}" href="#top">Back to top </a>
            <div class="card blue darken-4">
              <div class="card-content white-text">
                <span class="card-title">{{ msg.subject }}</span>
                <p>Author: <b>{{ fmt_author(msg.from) }}</b></p>
                <p>Posted: {{ msg.posted }}&nbsp;&nbsp;&nbsp;<a href="/archives/msg/{{ msg.msg_num }}">Link</a></p>
              </div>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col s7 offset-s1">
            <div class="card yellow lighten-5">
              <div class="card-content black-text">
                {{ wrap(msg.body) | safe}}
              </div>
              <div class="card-content red-text darken-3">
                <i>&copy;{{ msg.posted.year }} {{ fmt_author(msg.from) }}</i>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s7 offset-s1">
            <a class="hoverable waves-effect waves-light btn navbutton center-align" href="/archives"><i class="material-icons right">search</i>New Search</a>
          </div>
        </div>
      </div>
    {% endfor %}

    {% endblock %}

