{% extends "master.html" %}

{% block extra_JS %}
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.parallax');
    var instances = M.Parallax.init(elems, options);
  });
{% endblock %}
 
  {% block extra_CSS %}
  <style>
     .parallax-container {
      height: 600px;
    }
  </style>
  {% endblock %}

{% block title %}Welcome to leafe.com{% endblock %}
    {% block content %}
    <!-- Close out container tag -->
    </div>

    <div class="parallax-container">
      <div class="parallax"><img src="static/images/ed_backyard_1400h.jpg" /></div>
    </div>
    <div class="section white">
      <div class="row container">
        <h3 class="header">Ed Leafe - Artist</h3>
        <p class="flow-text grey-text text-darken-3 lighten-3">I am a photographic artist, and have been creating fine art for nearly 40 years.</p>
        <p class="flow-text grey-text text-darken-3 lighten-3">So far I've only added a few pieces of my work to this site, but I do plan on adding more in the next few months.</p>
        <p class="flow-text grey-text text-darken-3 lighten-3">So far I've only added a few pieces of my work to this site, but I do plan on adding more in the next few months.</p>
        <p class="flow-text grey-text text-darken-3 lighten-3">So far I've only added a few pieces of my work to this site, but I do plan on adding more in the next few months.</p>
        <p class="flow-text grey-text text-darken-3 lighten-3">So far I've only added a few pieces of my work to this site, but I do plan on adding more in the next few months.</p>
        <p class="flow-text grey-text text-darken-3 lighten-3">So far I've only added a few pieces of my work to this site, but I do plan on adding more in the next few months.</p>
        <p class="flow-text grey-text text-darken-3 lighten-3">So far I've only added a few pieces of my work to this site, but I do plan on adding more in the next few months.</p>
        <p class="flow-text grey-text text-darken-3 lighten-3">So far I've only added a few pieces of my work to this site, but I do plan on adding more in the next few months.</p>
        <p class="flow-text grey-text text-darken-3 lighten-3">So far I've only added a few pieces of my work to this site, but I do plan on adding more in the next few months.</p>
        <p class="flow-text grey-text text-darken-3 lighten-3">I may even post a few personal shots. 🙂</p>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="static/images/ed_backyard_1000h.jpg" /></div>
    </div>
    <div class="section white">
      <div class="row container">
        <h3 class="header">Ed Leafe - Technologist</h3>
        <p class="flow-text grey-text text-darken-3 lighten-3">While art is my passion, it is technology that pays the bills. I started programming in 1974 (!), and have been working professionally as a developer, consultant, DBA, and team leader for 30 years.</p>
        <p class="flow-text grey-text text-darken-3 lighten-3">While art is my passion, it is technology that pays the bills. I started programming in 1974 (!), and have been working professionally as a developer, consultant, DBA, and team leader for 30 years.</p>
        <p class="flow-text grey-text text-darken-3 lighten-3">While art is my passion, it is technology that pays the bills. I started programming in 1974 (!), and have been working professionally as a developer, consultant, DBA, and team leader for 30 years.</p>
        <p class="flow-text grey-text text-darken-3 lighten-3">While art is my passion, it is technology that pays the bills. I started programming in 1974 (!), and have been working professionally as a developer, consultant, DBA, and team leader for 30 years.</p>
        <p class="flow-text grey-text text-darken-3 lighten-3">While art is my passion, it is technology that pays the bills. I started programming in 1974 (!), and have been working professionally as a developer, consultant, DBA, and team leader for 30 years.</p>
        <p class="flow-text grey-text text-darken-3 lighten-3">While art is my passion, it is technology that pays the bills. I started programming in 1974 (!), and have been working professionally as a developer, consultant, DBA, and team leader for 30 years.</p>
        <p class="flow-text grey-text text-darken-3 lighten-3">While art is my passion, it is technology that pays the bills. I started programming in 1974 (!), and have been working professionally as a developer, consultant, DBA, and team leader for 30 years.</p>
        <p class="flow-text grey-text text-darken-3 lighten-3">While art is my passion, it is technology that pays the bills. I started programming in 1974 (!), and have been working professionally as a developer, consultant, DBA, and team leader for 30 years.</p>
        <p class="flow-text grey-text text-darken-3 lighten-3">While art is my passion, it is technology that pays the bills. I started programming in 1974 (!), and have been working professionally as a developer, consultant, DBA, and team leader for 30 years.</p>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="static/images/ed_backyard_800h.jpg" /></div>
    </div>
    <div class="section green lighten-4">
      <div class="row container">
        <h3 class="header">Ed Leafe - Technologist</h3>
        <p class="flow-text grey-text text-darken-3 lighten-3">While art is my passion, it is technology that pays the bills. I started programming in 1974 (!), and have been working professionally as a developer, consultant, DBA, and team leader for 30 years.</p>
        <p class="flow-text grey-text text-darken-3 lighten-3">While art is my passion, it is technology that pays the bills. I started programming in 1974 (!), and have been working professionally as a developer, consultant, DBA, and team leader for 30 years.</p>
        <p class="flow-text grey-text text-darken-3 lighten-3">While art is my passion, it is technology that pays the bills. I started programming in 1974 (!), and have been working professionally as a developer, consultant, DBA, and team leader for 30 years.</p>
        <p class="flow-text grey-text text-darken-3 lighten-3">While art is my passion, it is technology that pays the bills. I started programming in 1974 (!), and have been working professionally as a developer, consultant, DBA, and team leader for 30 years.</p>
        <p class="flow-text grey-text text-darken-3 lighten-3">While art is my passion, it is technology that pays the bills. I started programming in 1974 (!), and have been working professionally as a developer, consultant, DBA, and team leader for 30 years.</p>
        <p class="flow-text grey-text text-darken-3 lighten-3">While art is my passion, it is technology that pays the bills. I started programming in 1974 (!), and have been working professionally as a developer, consultant, DBA, and team leader for 30 years.</p>
        <p class="flow-text grey-text text-darken-3 lighten-3">While art is my passion, it is technology that pays the bills. I started programming in 1974 (!), and have been working professionally as a developer, consultant, DBA, and team leader for 30 years.</p>
        <p class="flow-text grey-text text-darken-3 lighten-3">While art is my passion, it is technology that pays the bills. I started programming in 1974 (!), and have been working professionally as a developer, consultant, DBA, and team leader for 30 years.</p>
        <p class="flow-text grey-text text-darken-3 lighten-3">While art is my passion, it is technology that pays the bills. I started programming in 1974 (!), and have been working professionally as a developer, consultant, DBA, and team leader for 30 years.</p>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="static/images/ed_backyard_500h.jpg" /></div>
    </div>
    <div class="section white">
      <div class="row container">
        <h3 class="header">Ed Leafe - Technologist</h3>
        <p class="flow-text grey-text text-darken-3 lighten-3">While art is my passion, it is technology that pays the bills. I started programming in 1974 (!), and have been working professionally as a developer, consultant, DBA, and team leader for 30 years.</p>
        <p class="flow-text grey-text text-darken-3 lighten-3">While art is my passion, it is technology that pays the bills. I started programming in 1974 (!), and have been working professionally as a developer, consultant, DBA, and team leader for 30 years.</p>
        <p class="flow-text grey-text text-darken-3 lighten-3">While art is my passion, it is technology that pays the bills. I started programming in 1974 (!), and have been working professionally as a developer, consultant, DBA, and team leader for 30 years.</p>
        <p class="flow-text grey-text text-darken-3 lighten-3">While art is my passion, it is technology that pays the bills. I started programming in 1974 (!), and have been working professionally as a developer, consultant, DBA, and team leader for 30 years.</p>
        <p class="flow-text grey-text text-darken-3 lighten-3">While art is my passion, it is technology that pays the bills. I started programming in 1974 (!), and have been working professionally as a developer, consultant, DBA, and team leader for 30 years.</p>
        <p class="flow-text grey-text text-darken-3 lighten-3">While art is my passion, it is technology that pays the bills. I started programming in 1974 (!), and have been working professionally as a developer, consultant, DBA, and team leader for 30 years.</p>
        <p class="flow-text grey-text text-darken-3 lighten-3">While art is my passion, it is technology that pays the bills. I started programming in 1974 (!), and have been working professionally as a developer, consultant, DBA, and team leader for 30 years.</p>
        <p class="flow-text grey-text text-darken-3 lighten-3">While art is my passion, it is technology that pays the bills. I started programming in 1974 (!), and have been working professionally as a developer, consultant, DBA, and team leader for 30 years.</p>
        <p class="flow-text grey-text text-darken-3 lighten-3">While art is my passion, it is technology that pays the bills. I started programming in 1974 (!), and have been working professionally as a developer, consultant, DBA, and team leader for 30 years.</p>
      </div>
    </div>

    <!-- Balance closing  container tag -->
    <div>
    {% endblock %}
