{% extends "master.html" %}

{% block extra_JS %}
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.parallax');
    var instances = M.Parallax.init(elems, options);
  });
{% endblock %}
 
  {% block extra_CSS %}
  <style>
     .parallax-container {
      height: 700px;
    }
  </style>
  {% endblock %}

{% block title %}Welcome to leafe.com{% endblock %}
    {% block content %}

    <div class="parallax-container">
      <div class="parallax"><img src="static/images/ed_edinburgh.jpg" /></div>
    </div>
    <div class="section white">
      <div class="row container">
        <h2 class="header">Ed Leafe - Artist</h2>
        <p class="grey-text text-darken-3 lighten-3">Explore my photographic work</p>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><a href="/art"><img src="static/images/pipe_emerging.jpg" /></a></div>
    </div>
    <div class="section white">
      <div class="row container">
        <h2 class="header">Ed Leafe - Technologist</h2>
        <p class="grey-text text-darken-3 lighten-3">I have been working for many years as a technology consultant and developer.</p>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><a href="/art"><img src="static/images/wet_leaf.jpg" /></a></div>
    </div>

    {% endblock %}
