{% extends "main.html" %}

{% block extra_JS %}
{% endblock %}

{% block extra_CSS %}
<style>
th{
    text-align: left;
    font-size: 1.2rem;
    padding: 5px;
}
td {
    padding: 5px;
}
td.posted{
    word-wrap: suppress;
}
td.nick{
    font-weight: bold;
    text-align: right;
}
td.remark{
    word-wrap: normal;
}
td.gerrit{
    word-wrap: normal;
    color: sienna;
    font-style: italic;
}
tr.hilite{
    background-color: #FFFF99;
}
.date_header{
    text-align: center;
    padding-top: 1rem;
    font-size: 1.0rem;
    font-weight: bold;
    font-color: #00FF00;
    background-color: #CCEEFF;
}
</style>
{% endblock %}

{% block title %}Search Results{% endblock %}

    {% block content %}
    <div class="row" style="margin-top: 2%">
    {% set ns = namespace(currdate="") %}
    {% set first_row = g.rows[0] %}
    {% set last_row = g.rows[-1] %}
    {% set esc_chan = first_row["channel"].replace("#", "%23") %}
    {% set prev_link = "%s/-/%s" % (esc_chan, first_row["posted"]) %}
    {% set next_link = "%s/%s" % (esc_chan, last_row["posted"]) %}
      <div class="col s1 left-align">
        <a href="/timeline/{{ prev_link }}">Earlier</a>&nbsp;&nbsp;
      </div>
      <div class="col s1">
        <a href="/timeline/{{ next_link }}">Later</a>
      </div>
      <div class="col s10 right-align">
        <a href="/ircsearch">New Search</a>
      </div>
    </div>
    <div class="row" style="margin-top: 2%">
        <table id="results_table" class="striped">
            <thead>
            <tr>
                <th class="posted">Posted</th>
                <th class="nick right-align">Nick</th>
                <th class="remark">Remark</th>
            </tr>
            </thead>
            <tbody>

            {% for row in g.rows %}
            {% set posted = row["posted"] %}
            {% set posted_link = "%s/%s" % (esc_chan, posted) %}
            {% set firstfour = [row["remark"][0:1], row["remark"][1:2], row["remark"][2:3], row["remark"][3:4]] %}
            {% set remark = row["remark"] %}
            {% if remark.startswith("\x01ACTION ") %}
                {% set remark = remark.replace("\x01ACTION ", "<b>* %s</b> " % row["nick"]) %}
            {% endif %}
            {% set remark_class = "gerrit" if "gerrit" in row["nick"] else "remark" %}
            {% set nick_color = g.color_map[row["nick"]] %}

            {% set pdate = posted.rsplit("T")[0] %}
            {% set ptime = posted.rsplit("T")[1] %}
            {% if pdate != ns.currdate %}
            <tr>
              <td colspan="4" class="date_header">{{ row["channel"] }} - {{ pdate }}</td>
            </tr>
            {% set ns.currdate = pdate %}
            {% endif %}
            {% if posted == g.hilite_time %}
            <tr class="hilite">
            {% else %}
            <tr>
            {% endif %}
                <td class="posted"><a href="/timeline/{{ posted_link }}">{{ ptime }}</a></td>
                <td class="nick" style="color: {{ nick_color }};">{{ row["nick"] }}</td>
                <td class="{{ remark_class }}">{{ make_clickable(remark)|safe }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <p>
          <a href="/timeline/{{ prev_link }}">Earlier</a>&nbsp;&nbsp;
          <a href="/timeline/{{ next_link }}">Later</a>
        </p>
    </div>
    {% endblock %}
