<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{% block title %}{{title}}{% endblock %}</title>
  <meta name="description" content="">
  <meta name="author" content="Ed Leafe">
  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}">

  <!-- Compiled and minified JavaScript -->
  <script src="{{ url_for('static', filename='js/materialize.js') }}" type="text/javascript">
  </script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='maple_leaf_tiny.png') }}">

  <style>
    li.flash{
      padding: 20px;
      font-size: 2rem;
      font-style: italic;
    }
    li.error{
      padding: 20px;
      background-color: #FFDDDD;
      font-size: 2rem;
      font-weight: 800;
    }
    .navbutton {
        background-color: "amber darken-3";
    }
    .btn, .btn:hover {
        background-color: #1E90FF;
    }
	/*  fontSize: */
	.xs   {font-size: 0.75rem}
	.sm   {font-size: 0.875rem}
	.base {font-size: 1rem}
	.lg   {font-size: 1.125rem}
	.xl   {font-size: 1.25rem}
	.2xl  {font-size: 1.5rem}
	.3xl  {font-size: 1.875rem}
	.4xl  {font-size: 2.25rem}
	.5xl  {font-size: 3rem}
	.6xl  {font-size: 4rem}
	.fs1  {font-size: 1vw}
	.fs2  {font-size: 1.4vw}
	.fs3  {font-size: 1.6vw}
	.fs4  {font-size: 1.8vw}
	.fs5  {font-size: 2vw}
	.fs6  {font-size: 2.2vw}
	.fs7  {font-size: 2.4vw}
	.fs8  {font-size: 2.6vw}
  </style>

  {% block extra_CSS %}
  {% endblock %}

  <!-- Javascript
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, options={});
    var dropdowns = document.querySelectorAll('.dropdown-trigger')
    for (var i = 0; i < dropdowns.length; i++){
        M.Dropdown.init(dropdowns[i]);
    }
  });

  {% block extra_JS %}
  {% endblock %}

  </script>

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% block navbar %}
  <div class="row">
    <div class="col s12">
      <ul id="art_dropdown" class="dropdown-content">
        <li><a href="/art">About My Work</a>
        </li>
        <li><a href="/art/design">Design Philosophy</a>
        </li>
        <!--
        <li><a href="/art/photo_principles">Photographic Principles</a>
        </li>
        -->
        <li><a href="/art/galleries">Galleries</a>
        </li>
      </ul>
      <ul id="tech_dropdown" class="dropdown-content">
        <li><a href="/email_lists">Email Lists</a>
        </li>
        <li><a href="/archives">List Archives</a>
        </li>
        <li><a href="/downloads">Downloads</a>
        </li>
        <li><a href="/ircsearch">OpenStack IRC Search</a>
        </li>
        <li><a href="/zipcodes">US Zipcode Search</a>
        </li>
        <li><a href="/twitterthread">Twitter Threader</a>
        </li>
        <li><a href="https://github.com/EdLeafe?tab=repositories">My GitHub</a>
        </li>
      </ul>
      <ul id="ref_dropdown" class="dropdown-content">
        <li><a href="/referee">Referee</a>
        </li>
        <li>
            <a href="/referee/2023_gil_weber_pregame_discussions.pdf"> Gil Weber's Pregame Discussion Points</a>
        </li>
        <li>
            <a href="/referee/2023_gil_weber_pregame_discussions_youth.pdf"> Gil Weber's Pregame Discussion Points - rec and youth</a>
        </li>
      </ul>
      <ul id="art_dropdown_side" class="dropdown-content">
        <li><a href="/art">About My Work</a>
        </li>
        <li><a href="/art/design">Design Philosophy</a>
        </li>
        <!--
        <li><a href="/art/photo_principles">Photographic Principles</a>
        </li>
        -->
        <li><a href="/art/galleries">Galleries</a>
        </li>
      </ul>
      <ul id="tech_dropdown_side" class="dropdown-content">
        <li><a href="/email_lists">Email Lists</a>
        </li>
        <li><a href="/archives">List Archives</a>
        </li>
        <li><a href="/downloads">Downloads</a>
        </li>
        <li><a href="/ircsearch">OpenStack IRC Search</a>
        </li>
        <li><a href="/zipcodes">US Zipcode Search</a>
        </li>
        <li><a href="/twitterthread">Twitter Threader</a>
        </li>
        <li><a href="https://github.com/EdLeafe?tab=repositories">My GitHub</a>
        </li>
      </ul>
      <ul id="ref_dropdown_side" class="dropdown-content">
        <li><a href="/referee">Referee</a>
        </li>
        <li>
            <a href="/referee/2023_gil_weber_pregame_discussion_points.pdf"> Gil Weber's Pregame Discussion Points</a>
        </li>
        <li>
            <a href="/referee/2023_gil_weber_pregame_discussion_points_for_referees_working_rec_games_and_comp_U-14_and_below.pdf"> Gil Weber's Pregame Discussion Points - rec and youth</a>
        </li>
      </ul>
      <nav class="light-blue">
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <a href="/">
              <img src="{{ url_for('static', filename='maple_leaf_small.png') }}" alt="Home" />
              Ed Leafe
            </a>
          </a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/">Home</a>
            </li>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-trigger" href="#!" data-target="art_dropdown">Art<i class="material-icons right">arrow_drop_down</i></a>
            </li>
            <li><a class="dropdown-trigger" href="#!" data-target="tech_dropdown">Technology<i class="material-icons right">arrow_drop_down</i></a>
            </li>
            <li><a class="dropdown-trigger" href="#!" data-target="ref_dropdown">Referee<i class="material-icons right">arrow_drop_down</i></a>
            </li>
            <li><a href="https://blog.leafe.com">Blog</a>
            </li>
          </ul>
        </div>
      </nav>
      <ul class="sidenav" id="mobile-demo">
        <li><a href="/">Home</a>
        </li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-trigger" href="#!" data-target="art_dropdown_side">Art<i class="material-icons right">arrow_drop_down</i></a>
        </li>
        <li><a class="dropdown-trigger" href="#!" data-target="tech_dropdown_side">Technology<i class="material-icons right">arrow_drop_down</i></a>
        </li>
        <li><a class="dropdown-trigger" href="#!" data-target="ref_dropdown_side">Referee<i class="material-icons right">arrow_drop_down</i></a>
        </li>
        <li><a href="https://blog.leafe.com">Blog</a>
        </li>
      </ul>
    </div>
  </div>
  {% endblock %}

    {% if error %}
    <div class="row">
      <p class=error><strong>Error:</strong> {{ error }}
    {% with messages = get_flashed_messages(with_categories=true) %}
       {% if messages %}
          <ul>
             {% for category, message in messages %}
             {% if category == "error" %}
             <li class="error">{{ message }}</li>
             {% else %}
             <li class="flash">{{ message }}</li>
             {% endif %}
             {% endfor %}
          </ul>
       {% endif %}
    {% endwith %}
    </div>
    {% endif %}

    <div class="container">
    {% block content %}
    {% endblock %}
    </div>

  </div>
</body>
</html>

