<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{% block title %}{{title}}{% endblock %}</title>
  <meta name="description" content="">
  <meta name="author" content="Ed Leafe">
  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}">

  <!-- Compiled and minified JavaScript -->
  <script src="{{ url_for('static', filename='js/materialize.js') }}" type="text/javascript">
  </script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='maple_leaf_tiny.png') }}">

  <style>
    li.flash{
      padding: 20px;
      font-size: 2rem;
      font-style: italic;
    }
    li.error{
      padding: 20px;
      background-color: #FFDDDD;
      font-size: 2rem;
      font-weight: 800;
    }
    .navbutton {
        background-color: "amber darken-3";
    }
    .btn, .btn:hover {
        background-color: #1E90FF;
    }
  </style>

  {% block extra_CSS %}
  {% endblock %}

  <!-- Javascript
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, options={});
    var dropdowns = document.querySelectorAll('.dropdown-trigger')
    for (var i = 0; i < dropdowns.length; i++){
        M.Dropdown.init(dropdowns[i]);
    }
  });

  {% block extra_JS %}
  {% endblock %}

  </script>

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% block navbar %}
  <div class="row">
    <div class="col s12">
      <ul id="art_dropdown" class="dropdown-content">
        <li><a href="/art">About My Work</a>
        </li>
        <li><a href="/art/galleries">Galleries</a>
        </li>
      </ul>
      <ul id="tech_dropdown" class="dropdown-content">
        <li><a href="/email_lists">Email Lists</a>
        </li>
        <li><a href="/archives">List Archives</a>
        </li>
        <li><a href="/downloads">Downloads</a>
        </li>
        <li><a href="https://github.com/EdLeafe?tab=repositories">My GitHub</a>
        </li>
      </ul>
      <ul id="art_dropdown_side" class="dropdown-content">
        <li><a href="/art">About My Work</a>
        </li>
        <li><a href="/art/galleries">Galleries</a>
        </li>
      </ul>
      <ul id="tech_dropdown_side" class="dropdown-content">
        <li><a href="/email_lists">Email Lists</a>
        </li>
        <li><a href="/archives">List Archives</a>
        </li>
        <li><a href="/downloads">Downloads</a>
        </li>
        <li><a href="https://github.com/EdLeafe?tab=repositories">My GitHub</a>
        </li>
      </ul>
      <nav class="light-blue">
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i>
            </a>
              <img src="{{ url_for('static', filename='maple_leaf_small.png') }}" alt="Home" />
              Ed Leafe</a>
            <ul class="right hide-on-med-and-down">
              <li><a href="/">Home</a>
              </li>
              <!-- Dropdown Trigger -->
              <li><a class="dropdown-trigger" href="#!" data-target="art_dropdown">Art<i class="material-icons right">arrow_drop_down</i></a>
              </li>
              <li><a class="dropdown-trigger" href="#!" data-target="tech_dropdown">Technology<i class="material-icons right">arrow_drop_down</i></a>
              </li>
              <li><a href="https://blog.edleafe.com">Blog</a>
              </li>
            </ul>
        </div>
      </nav>
      <ul class="sidenav" id="mobile-demo">
        <li><a href="/">Home</a>
        </li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-trigger" href="#!" data-target="art_dropdown_side">Art<i class="material-icons right">arrow_drop_down</i></a>
        </li>
        <li><a class="dropdown-trigger" href="#!" data-target="tech_dropdown_side">Technology<i class="material-icons right">arrow_drop_down</i></a>
        </li>
        <li><a href="https://blog.edleafe.com">Blog</a>
        </li>
      </ul>
    </div>
  </div>
  {% endblock %}

    <div class="row">
    {% if error %}
      <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    {% with messages = get_flashed_messages(with_categories=true) %}
       {% if messages %}
          <ul>
             {% for category, message in messages %}
             {% if category == "error" %}
             <li class="error">{{ message }}</li>
             {% else %}
             <li class="flash">{{ message }}</li>
             {% endif %}
             {% endfor %}
          </ul>
       {% endif %}
    {% endwith %}
    </div>

    {% block content %}
    {% endblock %}

  </div>
</body>
</html>

