{% extends "master.html" %}

{% block title %}{{ g.subject }}{% endblock %}

    {% block content %}

    <div class="row">
      <div class="col s8 offset-s2">
        <div class="card blue darken-4">
          <div class="card-content white-text">
            <span class="card-title">{{ g.subject }}</span>
            <p>Author: <b>{{ g.author }}</b></p>
            <p>Posted: {{ g.posted }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s10 offset-s1">
        <div class="card blue lighten-5">
          <div class="card-content black-text">
            <div class="row">
              {% if g.prev_msg_num %}
                <div class="col s3">
                  <a class="waves-effect waves-light btn hoverable" href="/archives/msg/{{ g.prev_msg_num }}"><i class="material-icons left">chevron_left</i>Prior Message</a>
                </div>
              {% endif %}
              <div class="col s3 center">
                <a class="waves-effect waves-light btn hoverable" href="/archives/full_thread/{{ g.msg_num }}">Full Thread</a>
              </div>
              {% if g.next_msg_num %}
                <div class="col s3">
                  <a class="waves-effect waves-light btn hoverable" href="/archives/msg/{{ g.next_msg_num }}"><i class="material-icons right">chevron_right</i>Next Message</a>
                </div>
              {% endif %}
              <div class="col s3 right offset-1">
                <a class="waves-effect waves-light btn hoverable" href="/archives"><i class="material-icons right">search</i>New Search</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s10 offset-s1">
        <div class="card yellow lighten-5">
          <div class="card-content black-text">
            {{ g.body | safe}}
          </div>
          <div class="card-content red-text darken-3">
            <i>&copy;{{ g.copy_year }} {{ g.author }}</i>
          </div>
        </div>
      </div>
    </div>





    {% endblock %}

