{% extends "master.html" %}

{% block title %}Email List FAQs{% endblock %}
    {% block content %}
    <div class="row">
      <div class="col s4 offset-s1">
        <h2>Email List FAQs</h2>
      </div>
    </div>

    <div class="row">
      <div class="col s9 offset-s1">
        <div class="card {{ g.email_list_card_color }}">
          <div class="card-content">
            <span class="card-title">Q: What is an email list?</span>
              <p>A: An email list is a subscription-based way of communicating among members of a community via email. Instead of sending messages to individual members, though, you send the message to the list. The list software then distributes that message to all subscribers. Your message may not arrive in your inbox as soon as you have sent it: you don't need to keep sending the message. If by the next day other messages have been received but yours hasn't, resend the message!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s9 offset-s1">
        <div class="card {{ g.email_list_card_color }}">
          <div class="card-content">
            <span class="card-title">Q: Where do I sign up for this list?</span>
              <p>A: Go to the list info page for ProFox or ProFoxTech. You can sign up from there.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s9 offset-s1">
        <div class="card {{ g.email_list_card_color }}">
          <div class="card-content">
            <span class="card-title">Q: What is all this stuff? I thought this was a FoxPro list?</span>
              <p>A: ProFox was spawned when the host of another list decided that he could suspend people from the list for transgressing the list rules: only by taking a test could the member be reinstated. Ed Leafe started this list to allow a freer exchange of opinions... and opinions are freely exchanged, especially in the Off Topic threads. If the off-topic stuff really bothers you, or even worse, bothers your employer, you should subscribe instead to the ProFoxTech list.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s9 offset-s1">
        <div class="card {{ g.email_list_card_color }}">
          <div class="card-content">
            <span class="card-title">Q: ProFoxTech? What, yet another list?</span>
              <p>A: No, not really. It is a sublist of the messages posted to ProFox. The list software looks for messages with [OT] in the subject, and forwards all those without that label to ProFoxTech. You never post messages to ProFoxTech; you post them to ProFox. Those with [OT] only go to ProFox subscribers; all the rest go to subscribers of both. If you think ProFoxTech is better for you, go to the list info page for ProFoxTech to sign up.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s9 offset-s1">
        <div class="card {{ g.email_list_card_color }}">
          <div class="card-content">
            <span class="card-title">Q: What are the restrictions on content that can be posted?</span>
              <p>A: Since this is a FoxPro community, topics that are related to software development using FoxPro are preferred. However, since we are a diverse community and have interests outside of FoxPro, just about any topic is OK. </p>
              <p>As a courtesy to others, all non-technical messages should be labeled with:</p>
              <blockquote>   [OT] (for "Off Topic") </blockquote>
              <p>in the Subject, so that the list software can filter them out of the tech-only sublist, ProFoxTech. Similarly, technical posts that are not strictly Fox-related should be labeled:</p>
              <blockquote>   [NF] (for "Not Fox")</blockquote>
              <p>Messages concerning list adminstration, mostly from our beloved Listmom:</p>
              <blockquote>   [ADMIN]</blockquote>
              <p>Please note that the square brackets are important for the software that filters these messages for ProFoxTech.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s9 offset-s1">
        <div class="card {{ g.email_list_card_color }}">
          <div class="card-content">
            <span class="card-title">Q: I just got a message that a message I posted is being held because the list thinks it is spam. I'm not a spammer!</span>
              <p>A: The lists use a powerful filtering tool called SpamBayes to help trap spam being sent to the list. It uses a technique called 'Bayesian filtering' to help determine what is spam and what isn't. It's very good, but not perfect. </p>
              <p>Since spam is such a problem, the filtering level is set to be very strict. While this means fewer spam messages make it through, it also means that some legitimate messages will be flagged as potential spam. The listmom gets a notice for each held message, and will release all non-spam to the list as soon as possible. Please don't be offended - you didn't write anything bad. There are no magic words that trigger this, nor any magic words that can bypass the filter.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s9 offset-s1">
        <div class="card {{ g.email_list_card_color }}">
          <div class="card-content">
            <span class="card-title">Q: Some idiot is saying the stupidest things! What should I do?</span>
              <p>A: If that person is just mistaken, feel free to post your take on things. Either they'll engage you in an intelligent discussion of the issue, or they'll start ranting against you.</p>
              <p>It should go without saying that respect should be a part of every post. Unfortunately, not everyone agrees with this, so you may occasionally be flamed by someone with more conviction than brains.</p>
              <p>When this happens, please try to ignore them. There is no need to continuously respond to these idiots. Everyone, except for their fellow idiots, recognize these losers and already disregard their posts.</p>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}
