{% extends "master.html" %}

{% block title %}Downloads{% endblock %}

{% block extra_JS %}
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, options);
  });

form_validate = function(frm) {
    ok = false;
    with (frm) {
        if (newfile.value==="") {
            alert("Please specify a file to upload!");
            newfile.focus();
        } else if (title.value === "") {
            alert("Title cannot be empty");
            title.focus();
        } else if (description.value==="") {
            alert("Description cannot be empty");
            description.focus();
        } else if (section.value === "") {
            alert("Please select a file section");
            section.focus();
        } else if (author.value==="") {
            alert("Author name cannot be empty");
            author.focus();
        } else if (author_email.value==="") {
            alert("Email address cannot be empty");
            author_email.focus();
        } else {
            ok = true;
        }
    }
    return ok;
};

{% endblock %}

{% block extra_CSS %}
<style>
.input-field {
    padding-bottom: 20px;
}
</style>
{% endblock %}

    {% block content %}
      <form  onsubmit="return form_validate(this)" method="post" id="upload_form" name="upload_form" action="/upload_file" enctype="multipart/form-data">
        <div class="row">
          <div class="row">
            <h4>Upload a File</h4>
          </div>
          <div class="row">
            <div class="col s6 z-depth-1">
              <div class="input-field">
                <label for="title">Title</label>
                <input type="text" id="title" name="title">
              </div>
    
              <div class="input-field">
                <label for="description">Description</label>
                <textarea class="materialize-textarea" id="description" name="description"></textarea>
              </div>
    
              <div class="input-field">
                <select id="section" name="section">
                  <option value="" disabled selected>- Choose a Section -</option>
                  <option value="p">Python</option>
                  <option value="b">Dabo</option>
                  <option value="v">Visual FoxPro</option>
                  <option value="c">Codebook</option>
                  <option value="f">FoxPro 2.x</option>
                  <option value="x">OS X</option>
                </select>
                <label>Section</label>
              </div>
    
              <div class="input-field">
                <select id="file_license" name="file_license">
                  <option value="" disabled selected>- Choose a License Type -</option>
                  <option value="f">Freeware / FOSS</option>
                  <option value="s">Shareware</option>
                  <option value="c">Commercial</option>
                  <option value="d">Demoware</option>
                  <option value="g">GPL Software</option>
                  <option value="l">LGPL Software</option>
                  <option value="m">Creative Commons License</option>
                  <option value="o">Other Open Source License</option>
                </select>
                <label for="file_license">License Type</label>
              </div>
    
              <div class="input-field">
                <label for="cost">Cost</label>
                <input type="number" step="0.01" id="cost" name="cost" value=0.00>
              </div>
    
              <div class="input-field">
                <label for="author">Author</label>
                <input type="text" id="author" name="author">
              </div>
    
              <div class="input-field">
                <label for="author_email">Author Email</label>
                <input type="text" id="author_email" name="author_email">
              </div>
    
              <div class="file-field input-field">
                <div class="btn">
                  <span>File</span>
                  <input type="file" id="newfile" name="newfile">
                </div>
                <div class="file-path-wrapper" id="div_file_id" name="div_file_name">
                  <input class="file-path validate" type="text">
                </div>
              </div>
    
              <div class="center-align">
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                  <i class="material-icons right">send</i>
                </button>
              </div>
    
            </div>
          </div>
    
        </div>
      </form>

    {% endblock %}
